{% extends "base.html.twig" %}

{% block container %}

        <center><h2 class="contact-title">
                <br><br>
                Create your Post !
            </h2></center>
        <div class="form-group has-error">
            {{ form_start(Form) }}
            <div class="form-group">
                {{ form_widget(Form.nomEvenement,{'attr':{'class':'form-control','placeholder':'Nom'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(Form.lieuEvenement,{'attr':{'class':'form-control','placeholder':'Lieu'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(Form.description,{'attr':{'class':'form-control','placeholder':'Description'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(Form.dateEvenement) }}
            </div>
            <div class="form-group">
                {{ form_widget(Form.typeEvenement,{'attr':{'class':'form-control','placeholder':'Type'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(Form.categorie,{'attr':{'class':'form-control select2','placeholder':'Categorie'}}) }}
            </div>
            <center> {{ form_widget(Form.Submit,{'attr':{'class':'btn btn-circle btn-primary m-b-10'}}) }}</center>
            {{ form_end(Form) }}
        </div>
    <script src="{{ asset ('back/plugins/jquery/jquery.min.js')}}"></script>
    <script src="{{ asset ('back/js/jn²query-ui.min.js')}}"></script>
    <script>
        jQuery(document).ready(function() {
            $('#evenementbundle_evenement_categorie').select2();
            $('#evenementbundle_evenement_dateEvenement').datepicker();
        });
    </script>
{% endblock %}