{% extends 'Page.html.twig' %}
{% block body %}
    <section class="module bg-dark-60 about-page-header" data-background="{{ asset('front/images/shop/b1.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Update Post</h2>

                </div>
            </div>
        </div>
    </section>
{% endblock body %}

{% block container  %}


    <form method= "POST">
        title:<input type="text" name ="title" value="{{ transp.title }}"><br/>
        Description:<input type="text" name = "description" value="{{ transp.description }}"><br/>
        Photo:<input type="text" name ="photo" value="{{ transp.photo }}"><br/>
        Rating:<input type="text" name ="rating" value=" {{ transp.rating }}"><br/>

        <input type="submit"value="enregister">

    </form>
{% endblock %}